#disqus_thread(style="margin-top: 50px")

script.
    var disqus_config = function () {
    this.page.url = location.href;
    this.page.identifier = 'test';
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://guanglei.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();