script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-73144174-1', 'auto');
    ga('send', 'pageview');
script(src='https://www.google-analytics.com/analytics.js' async)