<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>一叶斋</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="layout">
        <%- include('sidebar.html') %>
        <main class="main">
            <div class="tag">标签</div>
            <div class="tags">
              <% tags.forEach(function(tag, i) { %>
                <a href="/blog/<%= tag.path %>/"><%= tag.name %>(<%= tag.count %>)<%= (i === tags.length - 1 ? '' : ',') %></a>
              <% }) %>
            </div>
        </main>
    </div>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9b0def1d1ac3409daeac4177d3fcb125"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>